/.vscode
/Actividad clase 1
/Audios
/Cuadro de lista
/Examen
/Examen - Maximiliano Mireles.txt
/Examen - Maximiliano Mireles.txt.html
/Examen.html
/Formulario entrevista
/Formularios
/Sara
/script.js
/Tarea Diseño menu html
/Uso botones
/Uso botones 2